#navbar{
    background-color:#EAEAEA;
    display: inline-block;
}
.logo{
    font-family:'Geist Mono', monospace;
    font-size: large;
    color:#E0F7FA;
}

.list ul li{
    display: inline-block;
    list-style-type: none;
    text-align: right;
    margin-left: 30px;
}

.list ul li a {
    text-decoration: none;
    color: #E0F7FA;

}