#badan{
    background-color: #d5f4c3;
    margin: 0px;
}

#navigasi{
background-color:#1E4620;
}

.logo{
    font-family:system-ui;
    float: left;
    font-size: x-large;
    margin-left: 15px;
}

.logo strong a{
    text-decoration: none;
    color:#95c6a5;
}
.list ul li a {
text-decoration: none;
color: #fcfffd;
}
.list ul li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    padding: 10px;
}
.list ul li a:hover {
background-color:#538b56;
}